html, body{
  margin:0px; padding:0px;
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  text-align: center;
  /*position: relative;*/
  vertical-align: middle;
  /*padding-bottom: 20px;*/
  /*margin-bottom: 20px;*/
}
header a{
  color:white;
  background:rgba(0,0,0,0.1); 
  display:inline-block; 
  padding:0px 30px; 
  height:60px;
  line-height:60px; 
  text-align:center;
  font-family: 'Roboto Slab', serif; 
  text-decoration:none;
  text-transform:uppercase; 
  letter-spacing:2px; 
  font-weight:700;
}
h1{
  margin:0px;
  font-family: 'Roboto Slab', serif;
  font-weight:400;
  font-size:32px;
  padding-top:25px;
}
p{
  font-family: 'Noto Sans', sans-serif; 
  font-size:14px;
  padding-bottom: 15px;
}
ul {
  display: inline-block;
}
a:hover{
  text-decoration: none;
}
footer{
  padding-top: 20px;
  vertical-align: middle;
}
.container{
    align-items: center;
    text-align: center;
    width: 100%;
    display: inline;
  }
.container2{
  text-align: center;
margin: auto;
}
.container2 img
{
  cursor: pointer;
  vertical-align: middle;
     position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1); 
    margin: 10px;  
}
.container2 img:hover
{
  vertical-align: middle;
    box-shadow: 0px 0px 20px #000000;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}
.container_footer p{
  font-size: 8px;
  display: initial;
  margin: auto;
}
.container_footer img{
  /*text-align: center;*/
  /*vertical-align: middle;*/
  /*text-align: center;*/
  font-size: 8px;
  padding-bottom: 0;
}
/*fixed background images css*/
#hero2{
  background-image: url(img/gear.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}
#hero3{
  background-image: url(img/gallery.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}
#hero4{
  background-image: url(img/bgpost.jpg);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
}
.hero, .content{
  text-align:center; 
  position:relative;
  width: 100%;
}
.hero, .inner, .inner2, .inner3{
  background: rgba(0,0,0,0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
}
.hero h1, .hero p{ 
  color:#fff;
}
.inner{
  min-height:700px;
  position: relative;
}
.inner2{
  min-height: 400px;
  position: relative;
}
.copy{
  position:absolute; 
  top:50%; 
  height:10em; 
  margin-top:-15em; 
  width:100%;
}
.profile{
  width: 200px;
  height: 200px;
  border: 1px solid gray;
  border-radius: 130px;
}
#gear{
  padding: 5px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  cursor: pointer;
}
#gearDrop{
  padding: 5px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  display: none;
}
.modal-body img{
  padding: 0px;
  vertical-align: center;
  margin: 0 auto;
  text-align: center;
}
.modal-content{
  width: 750px;
  position-top: 150px;
}

#postcardimage{
  position: relative;
  max-width: 100%;
  max-height: 250px;
}
.modal-content {
  background-color: rgba(0,0,0,0);
  position: relative;
  background-image: url(img/pattern.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 565px;
  width: auto;
  min-width: 200px;
  border: none;
  outline: 0;
  background-color: none; 
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fullscreen-bg {
   /* position: fixed;*/
  position: absolute;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
}

.fullscreen-bg__video {
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
}
.vid{
  padding: 20px;
}
.form {
  margin-top: 200px;
  color: white;
}
/*panels show and hide css*/
#gallery{
  padding: 5px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  cursor: pointer;
}
#galleryDrop{
  padding: 5px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  display: none;
  padding: 0;
}
/* Styles the thumbnail source http://www.designcouch.com*/
/* Styles the lightbox, removes it from sight and adds the fade-in transition */
.lightbox-target {
position: fixed;
padding-top: 80px;
top: 100%;
width: 100%;
background: rgba(0,0,0,.7);
opacity: 0;
-webkit-transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-o-transition: opacity 1s ease-in-out;
transition: opacity 1s ease-in-out;
overflow: hidden;
z-index: 3;
}
/* Styles the close link, adds the slide down transition */
a.lightbox-close {
display: block;
width: 50px;
height: 50px;
box-sizing: border-box;
color: white;
text-decoration: none;
position: absolute;
top: 20px;
right: 10px;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}
/* Provides part of the "X" to eliminate an image from the close link */
a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 3px;
background: white;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}
/* Provides part of the "X" to eliminate an image from the close link */
a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 3px;
background: white;
position: absolute;
left: 26px;
top:10px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}
a.lightbox-close:hover{
  transform: rotate(180deg);
  transition: .3s;
}
/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */
.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
left: 0;
}
.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}
.img-thumbnail2 {
  border-radius: 0;
  width: 100%!important;
  height: 700px!important;
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.flipPic{
  padding: 5px;
    text-align: center;
    background-color: white;
    text-decoration: none;
    cursor: pointer;
}
.panelPic{
    text-align: center;
    background-color: white;
    text-decoration: none;
    width: 100%;
    height: 700px;
}
.card {
  height: 700px;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}
.card:hover {
  transform: rotateY(180deg);
}
.side {
  cursor: pointer;
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
}
.back {
  width: 100%
  height700px;
  background-image: url(img/postcardback.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: left;
  transform: rotateY(180deg);
}
.row{
  text-align: center;
  padding: 0px;
  margin: 0px!important;
}
.form2{
  display: inline-block;
}
.txt{
  background: rgba(256,256,256,0.1);
  border: none;
  text-align: center;
  font-weight: bold;
  margin-top: 40px;
  height: 450px;
  width: 420px;
  font-size: 20px;
  font-family: 'Homemade Apple', cursive;
}
.txt2{
  background: rgba(256,256,256,0.1);
  text-decoration: underline;
  border: none;
  text-align: left;
  font-weight: bold;
  margin-top: 70px!important;
  margin-left: 50px;
  height: 450px!important;
  width: 420px;
  font-size: 35px;
  font-family: 'Amatic SC', cursive;
}
#email{
  background-color: rgba(214,184,36,0.1);
  border: 2px double gray;
  height: 60px;
  width: 500px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin: none;
}
#email2{
  color: black;
  background-color: rgba(256,256,256,0.1);
  border: none;
  margin-top: 120px;
  height: 50px;
  width: 320px;
  font-size: 40px;
  font-weight: bold;
  margin: none;
  font-family: 'Dancing Script', cursive;
  z-index: 50;
  }
#email:focus{
  transform: scale(1.2);
  transform-origin: right;
  transition: transform 1s ease-in-out;
}
#email{
  background-color: rgba(214,184,36,0.1);
  border: 2px double gray;
  height: 60px;
  width: 500px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin: none;
}
#email2{
  color: black;
  background-color: rgba(256,256,256,0.1);
  border: none;
  margin-top: 120px;
  height: 50px;
  width: 320px;
  font-size: 40px;
  font-weight: bold;
  margin: none;
  font-family: 'Dancing Script', cursive;
  z-index: 50;
  }
#email:focus{
  transform: scale(1.2);
  transform-origin: right;
  transition: transform 1s ease-in-out;
}
#subscribeButton{
  height: 60px;
  width: : 60px;
  background-color: rgba(214, 184, 36, 0.6);
  border: none;
  margin: 0;
  padding: 0 auto;
  font-size: 40px;
  font-weight: bolder;
  color: white;
  position: relative;
  right: 0;
}
/*post card effect*/
#subscribeButton:hover{
/*transform: scale(1.2);*/
/*transform-origin: left;*/
/*transition: transform 1s ease-in-out;*/
animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
.content h1, .content p{
  color:#333;
    text-align: center;
  /*display: inline-block;*/
}
.copy h1{
  font-size: 50px;
  font-family: 'Roboto Slab';
}
.image_pop{
  padding-bottom: 20px;
}
.image_pop img
{
  vertical-align: middle;
     position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}
.image_pop img:hover
{
  vertical-align: middle;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}
.btn{
  background:none;
}
#toTop{
  background-image: url(img/arrowup2.png);
  height: 150px;
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-size:cover;
  background-position:center center;
  position: fixed;
  border: none;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
  z-index: 2;
}
.modal.fade .modal-dialog {
    width: 600px;
    margin: -1px auto;
    -webkit-transition: -webkit-transform 1s ease-out;
    -o-transition: -o-transform 1s ease-out;
    transition: transform 1s ease-out;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition-delay: initial;
}
.close{
  right: 20px;
  padding-right: 35px;
  opacity: .5;
}
.audio_sec{
  margin-left: 10px;
}
/*all media mobile css code*/
@media screen and (max-width: 600px) {
.inner, .inner2 {
  height: 900px;
}
h1{
  margin-top: 10px;
}
#email{
  background-color: rgba(214,184,36,0.1);
  border: 2px double gray;
  height: 30px;
  width: 200px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: none;
}


#subscribeButton{
  height: 30px;
  width: : 30px;
  background-color: rgba(214, 184, 36, 0.6);
  border: none;
  margin: 0;
  padding: 0 auto;
  font-size: 20px;
  font-weight: bolder;
  color: white;
  position: relative;
  right: 0;
}}
@media (min-width: 768px){
.modal-dialog {
  width: 600px;
  margin: 30px auto;
}}
@media (max-width: 768px){
.cardCD{
  display: none;
}}